/*-- scss:defaults --*/

// Colors
/* source: https://coolors.co/palettes/trending */

$teal-2: #006d77;
$teal-1: #83c5be;
$teal-0: #edf6f9;
$pink-1: #ffddd2;
$pink-2: #e29578;

$url-blue: #01baef;

$cream: #f4f3ee;
$gray-0: #d6d6d6;
$gray-1: #bcb8b1;
$gray-2: #8a817c;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090a;

// Fonts
/* source: https://fonts.google.com */
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Website Architecture Colors
$navbar-bg: $teal-1;
$navbag-fg: $teal-0;
$navbar-hl: $teal-2;
$sidebar-bg: $teal-2;
$sidebar-fg: $teal-1;
$footer-bg: $pink-1;
$footer-text: $pink-2;

// Page Colors
$body-bg: $gray-4;
$body-color: $cream;
$link-color: $url-blue;

// Code Colors
$code-color: $gray-3; // inline code text color
$code-bg: $gray-0; // inline code background color
$code-block-bg: $gray-0; // code block b

/*-- scss:rules --*/

// Underline URLs
.reveal .slide a { text-decoration: underline; }
